<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello  Robot</title>
</head>

<body>
    <h1>Hello Robot</h1>
    <p>Welcome to the world of robotics!</p>
    <p>This is a simple HTML page to demonstrate the use of pySerial in a robotics project.</p>
    <p>Make sure to have the pySerial library installed to communicate with serial devices.</p>
    <p>For more information, visit the <a href="https://pyserial.readthedocs.io/en/latest/">pySerial documentation</a>.</p>    
</body>
</html>